Vardan Gyurjyan <gurjyan@jlab.org>
Vardan Gyurjyan <gurjyan@jlab.org> <vardan.gyurjyan@gmail.com>
Sebastián Mancilla <smancill@smancill.dev> <smancill@jlab.org>
Sebastián Mancilla <smancill@smancill.dev> <smancill.m@gmail.com>
Ricardo Oyarzún <oyarzun@jlab.org> <royarzun@gmail.com>
Andrea Rodríguez <arodrigu@jlab.org>
Andrea Rodríguez <arodrigu@jlab.org> <andrea.rodriguez.12@sansano.usm.cl>
