Vardan Gyurjyan <gurjyan@jlab.org>
Sebastián Mancilla <smancill@jlab.org>
Sebastián Mancilla <smancill@jlab.org> <smancill.m@gmail.com>
Ricardo Oyarzún <oyarzun@jlab.org> <royarzun@gmail.com>
Andrea Rodríguez <arodrigu@jlab.org>
Andrea Rodríguez <arodrigu@jlab.org> <andrea.rodriguez.12@sansano.usm.cl>
