language: java

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -rf $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

env:
  global:
    - CLARA_HOME=$HOME/clara-home

matrix:
  include:
    - os: linux
      jdk: oraclejdk8

script:
  ./gradlew check
  ./gradlew integration
